[submodule "mts/data/russe-wsi-kit"]
	path = mts/data/russe-wsi-kit
	url = https://github.com/nlpub/russe-wsi-kit
[submodule "mts/modules/bertwsi"]
	path = mts/modules/bertwsi
	url = https://github.com/dayyass/bertwsi
[submodule "mts/modules/spacy-ru"]
	path = mts/modules/spacy-ru
	url = https://github.com/buriy/spacy-ru
	branch = v2.1
[submodule "mts/modules/simple_elmo"]
	path = mts/modules/simple_elmo
	url = https://github.com/ltgoslo/simple_elmo
