[submodule "mts/data/russe-wsi-kit"]
	path = mts/data/russe-wsi-kit
	url = https://github.com/nlpub/russe-wsi-kit
[submodule "mts/modules/bertwsi"]
	path = mts/modules/bertwsi
	url = https://github.com/dayyass/bertwsi
[submodule "mts/modules/spacy-ru"]
	path = mts/modules/spacy-ru
	url = git@github.com:buriy/spacy-ru.git
	branch = v2.1
